<div class="row mt-5">
  <div class="col-8">
    <div class="row mb-2">
      <div class="col">
        <%= image_tag "ad_l_fb.svg", class:"img-fluid mb-4" %>
        <h5>Judul Iklan</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque parturient non varius fringilla</p>
      </div>
      <div class="col">
        <%= image_tag "ad_l_fb.svg", class:"img-fluid mb-4" %>
        <h5>Judul Iklan</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque parturient non varius fringilla</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row mb-3">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <%= image_tag "ad_s_j.png", class:"img-fluid" %>
        </div>
        <div class="flex-grow-1 ms-3">
          <h5>Judul Iklan</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <%= image_tag "ad_s_j.png", class:"img-fluid" %>
        </div>
        <div class="flex-grow-1 ms-3">
          <h5>Judul Iklan</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <%= image_tag "ad_s_j.png", class:"img-fluid" %>
        </div>
        <div class="flex-grow-1 ms-3">
          <h5>Judul Iklan</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <%= image_tag "ad_s_j.png", class:"img-fluid" %>
        </div>
        <div class="flex-grow-1 ms-3">
          <h5>Judul Iklan</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </div>
</div>