<h2>Edit</h2>

<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>  
  <div class="field form-group">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.label :password, "New password", class: "form-label" %>
    <%= f.password_field :password, class: "form-control", autocomplete: "password" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "New password confirmation", class: "form-label" %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>

  <br>

  <div class="field form-group">
    <%= f.label :name, class: "form-label" %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control", autocomplete: "name" %>
  </div>

  <div class="field form-group">
    <%= f.label :nik, "NIK", class: "form-label" %><br />
    <%= f.text_field :nik, autofocus: true, class: "form-control", autocomplete: "NIK" %>
  </div>

  <div class="field form-group">
    <%= f.label :phone_no, class: "form-label" %><br />
    <%= f.text_field :phone_no, autofocus: true, class: "form-control", autocomplete: "phone_no" %>
  </div>

  <div class="field form-group">
    <%= f.label :religion, "Agama", class: "form-label" %>
    <%= f.select :religion, [["Islam", "islam"], ["Protestan", "protestant"], ["Katolik", "catholic"], ["Hindu", "hindu"], ["Buddha", "buddha"], ["Confucius", "confucius"], ["Lainnya", "others"]], {}, class: "form-select", id: "inputGroupSelect01" %>
  </div>
  
  <br>
  <div class="actions">
    <%= f.submit "Edit", class: "btn btn-secondary" %>
  </div>
<% end %>
