<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unit List by Owner</title>
  </head>
  <body>
    <h2>Unit</h2>

    <div class="text-right">
      <%= button_to "Buat Unit", new_admin_unit_path, method: :get, class:"btn btn btn-primary" %>
    </div>
    <br>

    <h5>Cari Unit</h5>
    <%= form_with url: admin_unit_index_path, method: :get do |f| %>
      <div class="row g-4">
        <div class="col-auto">
            <%= f.select :tower, ["A", "B", "C"], { prompt: "Tower", selected: params[:tower] }, {class: "form-select", id: "towerSelect", onchange: "readParams()"} %>
        </div>
        <div class="col-auto">
            <%= f.select :floor, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35], { prompt: "Floor", selected: params[:floor] }, class: "form-select", id: "floorSelect", onchange: "readParams()" %>
        </div>
        <% if params[:tower].present? && params[:floor].present? && @units.present? %>
          <div class="col-auto">
              <%= f.select :unit_no, @units, { prompt: "Unit", selected: params[:unit_no] }, class: "form-select", id: "unitSelect", onchange: "this.form.submit()" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <br>
    <% if @cur_unit.present? %>
      <p>Gov ID: <%= @cur_unit['gov_id'] %></p>
      <p>Tower <%= @cur_unit['tower'] %> / Floor <%= @cur_unit['floor'] %> / Unit No. <%= @cur_unit['unit_no'] %></p>
      <%= button_to "Edit", edit_admin_unit_path(@cur_unit['id']), method: :get, class:"btn btn-primary" %>
    <% end %>

    <% if (params[:tower].present? && params[:floor].present?) && !@units.present? && !@cur_unit.present? %>
      <p>Tidak ada unit yang sesuai</p>
    <% end %>
  </body>
</html>

<script type="text/javascript">
  function readParams() {
      paramsDict = {}
      
      var tower = document.getElementById("towerSelect");
      var towerVal = tower.options[tower.selectedIndex].value;
      if (towerVal) {
        paramsDict["tower"] = towerVal;
      };
      var floor = document.getElementById("floorSelect");
      var floorVal = floor.options[floor.selectedIndex].value;
      if (floorVal) {
        paramsDict["floor"] = floorVal;
      };
      oldParams = (new URL(document.location)).searchParams;
      if (oldParams.get("tower") == towerVal && oldParams.get("floor") == floorVal) {
        var unitVal = unit.options[unit.selectedIndex].value;
        if (unitVal) {
          paramsDict["unit_no"] = unitVal;
        };
      }

      if ("tower" in paramsDict && "floor" in paramsDict) {
        window.location.href = window.location.pathname + "?" + new URLSearchParams(paramsDict).toString();
      }
  };
</script>