<h1>Users List</h1>
<%= form_tag admin_index_path, :method => "get" do %>
  <%= label_tag(:search, "Name") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>
<br>
<% if !@users.empty? %>
  <table>
  <tr>
    <th>Name </th>
    <th>Email </th>
    <th>Phone No. </th>
    <th>Role </th>
    <th>
  </tr>
 <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone_no %></td>
    <td><%= user.role %></td>
    <td>
      <% if user.status == 'active' %>
        <%= button_to "Nonaktifkan", admin_status_path(user.id), method: :patch, params: { status: 'nonactive', name: user.name }, class:"btn btn-outline-danger" %>
      <% else %>
        <%= button_to "Aktifkan", admin_status_path(user.id), method: :patch, params: { status: 'active', name: user.name }, class:"btn btn-outline-success" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
  <p>Tidak ada user yang sesuai</p>
<% end %>