<h1>Users List</h1>

<%= form_with url: admin_user_index_path, method: :get, class:"row g-3 mb-2" do |f| %>
  <div class="col-auto">
    <%= f.label :search, "Name", class: "form-control-plaintext" %>
  </div>
  <div class="col-auto">
    <%= f.text_field :search, class:"form-control" %>
  </div>
  <div class="col-auto">
    <%= f.submit "Search", :name => nil, class: "btn btn-primary" %>
  </div>
<% end %>

<% if params[:search].present? %>
  <h6 class="mt-3" > Searching with keyword "<%= params[:search] %>" </h6>
<% end %>
<% if @result && !@result["data"].empty? %>
  <table class="table">
    <tr>
      <th>Name </th>
      <th>Email </th>
      <th>Phone No. </th>
      <th>Role </th>
      <th>
    </tr>
    <% @result["data"].each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_no %></td>
        <td><%= user.role %></td>
        <td>
          <% if user.status == 'active' %>
            <%= button_to "Nonaktifkan", admin_user_status_path(user.id), method: :patch, params: { status: 'nonactive', name: user.name }, class:"btn btn-outline-danger" %>
          <% else %>
            <%= button_to "Aktifkan", admin_user_status_path(user.id), method: :patch, params: { status: 'active', name: user.name }, class:"btn btn-outline-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if @result["meta"]["total"] > @result["meta"]["limit"] %>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link <% if params[:page] == 1 %>disabled<% end %>" page="<%= params[:page] - 1 %>">Previous</a></li>
        <% (1..(@result["meta"]["total"].to_f / @result["meta"]["limit"].to_f).ceil).each do |v| %>
        <li class="page-item"><a class="page-link <% if params[:page] == v %>active<% end %>" page="<%= v %>"><%= v %></a></li>
        <% end %>
        <li class="page-item"><a class="page-link <% if params[:page] == (@result["meta"]["total"].to_f / @result["meta"]["limit"].to_f).ceil %>disabled<% end %>" page="<%= params[:page] + 1 %>">Next</a></li>
      </ul>
    </nav>
  <% end %>
<% else %>
  <p>Tidak ada user yang sesuai</p>
<% end %>